:root {
  --image-width-over-height: calc(calc(3456vh / 5184) * 100);
}

body {
  background-color: #374224;
  margin: 0px;
}

#body {
  display: flex;
  justify-content: center;
}

#image-section {
  background-image: url(./assets/alissa-schilling-KBg73gZF2Wo-unsplash.jpg);
  background-size: contain;
  height: 100vh;
  width: var(--image-width-over-height);
}

#main-section {
  background-color: #F6EAD4;
  height: 100vh;
  width: 80vh;
}